<div class="content" fxFlexAlign="stretch stretch" fxLayoutAlign="space-evenly stretch">

    <mat-card class="mat-elevation-z4" flex routerLink={{carditem.link}} [queryParams]="{frame: true}">
        <a routerLink={{carditem.link}} [queryParams]="{frame: true}">
            <mat-card-header>
                {{carditem.name}}
            </mat-card-header>
            <img mat-card-image src={{carditem.img}} alt="Application image">
        </a>
<br>
        <!-- <mat-card-content>{{carditem.desc}}</mat-card-content> -->
        <mat-card-content><div [innerHTML]="carditem.desc"></div></mat-card-content>
        <mat-card-footer id="btmFooter" flex><em><b>Technologies:</b> {{carditem.tech}}</em></mat-card-footer>
    </mat-card>

</div>