 mat-card-header {
    min-height: 60px;
    justify-content: center;
    align-items: center;
}

:host /deep/ .mat-card-header-text {
    margin: 0;
}

.content > mat-card {
    padding-top: 5px;
}

mat-card-footer {
    margin: 0px;
}

img {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 0;
}