<div class="content"  fxFlexAlign="stretch stretch" fxLayoutAlign="space-evenly stretch">

    <mat-card class="mat-elevation-z4">
        <a routerLink={{carditem.link}} [queryParams]="{frame: true}">
            <mat-card-header>

                    {{carditem.name}}
            </mat-card-header>
        </a>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>{{carditem.desc}}</mat-card-content>
    </mat-card>

</div>