 a {
     text-decoration:none;
 }

 mat-card-header {
    min-height: 60px;
    justify-content: center;
    align-items: center;
}

:host /deep/ .mat-card-header-text {
    margin: 0;
}

.content > mat-card {
    padding-top: 5px;
    color: #000000;

}



img {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 0;
}

mat-card-footer {
    margin: 0px;
    border-top: 1px solid black; 
}

#btmFooter {
    margin: 0px;
    font-size: small;
  }



  .mat-card{
    display:flex;
    flex-direction: column;
    color: #000000;

  }

  .mat-card:hover {
    box-shadow: 0px 6px 6px 6px lightgrey;
    /* margin-bottom: 1px; */
}  
  
  .mat-card-header {
    flex-shrink: 0;
  }
  
  .mat-card-content{
    flex-grow: 1;
    overflow: auto;
    color: #000000;
    padding-top: 5px;
  }