<div id="aboutContainer">


    <header class="contact-header">
        <h1 class="article-title">About Me</h1>
    </header>

<!-- 


Michael became interested in computers and graphics in Junior High.  He followed his interest into college by persuing a Bachelors degree in Computer Science.
He has always enjoyed the creative aspect of programming; being able to imagine something and then bringing that idea to life.  When his job didn't require it, he became a hobby developer for the sheer enjoyment of writing code. 
As technology advanced, he became fascinated with 3D graphics.  He is now spending his spare time learning about Virtual and Augmented Reality utilizing Unity and C#.


 -->
    <p>Michael became interested in computers and graphics in Junior High.  He followed his interest into college by pursuing a bachelor's degree in Computer Science.
        He has always enjoyed the creative aspect of programming: imagining something and then bringing that idea to life.  When his job didn't require it, he became a hobby developer for the sheer enjoyment of writing code. 
        As technology advanced, he became fascinated with 3D graphics.  He is now spending his spare time learning about Virtual and Augmented Reality utilizing Unity and C#.
    </p>
    <div>
        <!-- <a href="https://drive.google.com/file/d/1ZNUUC7BNwg2x8bUMDzINHjJj_xyISv24/view?usp=sharing">My Resume</a> -->
        <a href="https://drive.google.com/file/d/1h4O5XTtzr-oJtu9EPP0jotbUsKIq5R-Y/view">My Resume</a>
        
    </div>

    <br>
    <p>Please feel free to reach out if anything piques your interest.</p>
    <div>
        <img src="/assets/images/email.jpg" alt="email logo" class="contact-icon">

        <!-- <a href="mailto:mcoons67!AT!gmail!DOT!com" onclick="this.href=this.href
          .replace(/!AT!/,'&#64;')
          .replace(/!DOT!/,'&#46;')">
                <my-email data-user="mcoons67" data-domain="gmail.com"></my-email>
            </a> -->

        <a href="mailto:mcoons67@gmail.com">mcoons67@gmail.com</a>

    </div>
    <br>
    <div>
        <img src="/assets/images/github.jpg" alt="github logo" class="contact-icon">
        <a href="https://github.com/mcoons">github.com/mcoons</a>
    </div>
    <br>
    <div>
        <img src="/assets/images/linkedin.jpg" alt="linkedin logo" class="contact-icon">
        <a href="https://www.linkedin.com/in/michael-coons/">linkedin.com/in/michael-coons</a>
    </div>

</div>