<nav id="mainNav" #mainNav class="navbar navbar-expand-sm navbar-dark bg-primary ">
  <a class="navbar-brand" routerLink="home">
    <img id="logo" alt="MichelCoons.Tech Logo"
      src="/assets/images/logo.png">
      <div class="logoTransition">&nbsp;</div>
    michaelcoons.tech
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-label="NAV Toggle">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse white" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link white" routerLink="home" (click)="toggleNavbar()">Home</a>
      </li>

      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle white" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          2D Stuff
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
          <a *ngFor="let item of appData2D; let i = index" class="dropdown-item" routerLink={{item.link}}
            [queryParams]="{frame: true}" (click)="toggleNavbar()">{{item.name}}</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle white" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          3D Stuff
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
          <a *ngFor="let item of appData3D; let i = index" class="dropdown-item" routerLink={{item.link}}
            [queryParams]="{frame: true}" (click)="toggleNavbar()">{{item.name}}</a>
        </div>
      </li> -->

      <li class="nav-item">
        <a class="nav-link white" routerLink="about" (click)="toggleNavbar()">About</a>
      </li>
    </ul>
  </div>
</nav>